<html class="login-pg">
<% if session[:message] %>
  <h3> <%= session[:message] %> </h3>
  <% session[:message] = nil %>
<% end %>

<form action="/login" method='post'>
  <div style="text-align:center; padding-top: 40px; font-size:20px; color: #0a0316 ">
    User <span style="margin-left:2em;" ></span> <input type='text' name='username'></input><br><br>
    Password <input type='password' name='password'></input><br><br>
    <span style="margin-left:3em"; ></span><input type="submit" value="Logon">
  </div>
</form>
<div style="text-align:center;">
  <form method="get" action="/signup">
     <span style="margin-left:4em"; ></span> <input type="submit" value="Sign Up">
  </form>
</div>
</html>
